<h1>Listas de Registros</h1>
<div class="row">
    <div class="col-md-3">
           <div class="rectgreen" routerLink="listado-clientes">
               <i class="fas fa-address-card" style="font-size: 60px"></i>
               <p style="font-size: 24px, padding-top 15px">Clientes</p>
           </div>

    </div>
 
     <div class="col-md-3">
         <div class="rectviolet" routerLink="listado-inscripciones">
             <i class="fas fa-clipboard-list" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px">Iscripciones</p>
         </div>
      </div>
 
     <div class="col-md-3">
         <div class="rectpink" routerLink="listado-rutinas">
             <i class="fas fa-dumbbell" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px">Rutinas</p>
         </div>
      </div>

      <div class="col-md-3">
        <div class="rectgreen" routerLink="listado-dietas">
            <i class="fas fa-carrot" style="font-size: 60px"></i>
            <p style="font-size: 24px, padding-top 15px">Dietas</p>
        </div>
     </div>
 </div>

 <br>

 <h1>Añadir Registro</h1>
 <div class="row">
    <div class="col-md-3">
           <div class="rectblue" routerLink="agregar-cliente">
               <i class="fas fa-plus" style="font-size: 60px"></i>
               <p style="font-size: 24px, padding-top 15px"> Agregar Cliente</p>
           </div>

    </div>
 
     <div class="col-md-3">
         <div class="rectyellow" routerLink="inscripcion">
             <i class="fas fa-plus" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px"> Agregar Iscripcion</p>
         </div>
      </div>
 
     <div class="col-md-3">
         <div class="rectbrown" routerLink="agregar-rutina">
             <i class="fas fa-plus" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px">Agregar Rutina</p>
         </div>
      </div>

      <div class="col-md-3">
        <div class="rectblack" routerLink="agregar-dieta">
            <i class="fas fa-plus" style="font-size: 60px"></i>
            <p style="font-size: 24px, padding-top 15px"> Agregar Dieta</p>
        </div>
     </div>
 </div>

