.rectorange {
    background-color: #ea6112;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .rectorange:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  
  .rectgreen {
    background-color: #12ea6f;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .rectgreen:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  
  .rectviolet {
    background-color: #b412ea;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .rectviolet:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  
  .rectpink {
    background-color: #ea1261;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .rectpink:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  
  .rectblue {
    background-color: #0000ff;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .rectblue:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  
  .rectyellow {
    background-color: #ffff00;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .rectyellow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  
  .rectbrown {
    background-color: #9d4f00;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  
  .rectbrown:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  }
  