
<div class="row">
    <div class="col-md-4">
           <div class="rectgreen">
               <i class="fas fa-address-card" style="font-size: 60px"></i>
               <p style="font-size: 24px, padding-top 15px">Clientes</p>
               <p style="font-size: 50px, padding-top 15px">{{clientes.length}}</p>
           </div>

    </div>
 
     <div class="col-md-4">
         <div class="rectviolet">
             <i class="fas fa-clipboard-list" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px">Iscripciones</p>
         </div>
      </div>
 
     <div class="col-md-4">
         <div class="rectpink">
             <i class="fas fa-dumbbell" style="font-size: 60px"></i>
             <p style="font-size: 24px, padding-top 15px">Rutinas</p>
         </div>
      </div>
 </div>