button {
    float: right;
}

img {
     /* cambia estos dos valores para definir el tamaño de tu círculo */
     height: 200px;
     width: 200px;
     /* los siguientes valores son independientes del tamaño del círculo */
     background-repeat: no-repeat;
     background-position: 50%;
     
}